<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>htmlParser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA8560E91D7EDDC4007D8C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA8561001D7EDDC4007D8C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA85610B1D7EDDC4007D8C6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
